#globo1{width:230px;
		height:230px;
		background: #456678;
		opacity: 0.85;
		border-radius: 100%;
		margin-left: 300px;
		margin-top: 30px;}

#globo1:hover{transform: rotateY(180deg);}

#globo2{width:230px;
		height:230px;
		background: #456678;
		opacity: 0.85;
		border-radius: 100%;
		margin-left: 800px;
		margin-top: -260px;}

#globo3{width:230px;
		height:230px;
		background: #456678;
		opacity: 0.85;
		border-radius: 100%;
		margin-left: 300px;
		margin-top: 50px;}

#globo4{width:230px;
		height:230px;
		background: #456678	;
		opacity: 0.85;
		border-radius: 100%;
		margin-left: 800px;
		margin-top: -260px;}

#txt_mision{font-size: 35px;
	font-family: 'Kaushan Script', cursive;
	color: #fff;
	padding-left: 66px;
	padding-top: 80px;}

#txt_vision{font-size: 35px;
	font-family: 'Kaushan Script', cursive;
	color: #fff;
	padding-left: 69px;
	padding-top: 80px;}

#txt_obje{font-size: 35px;
	font-family: 'Kaushan Script', cursive;
	color: #fff;
	padding-left: 57px;
	padding-top: 83px;}

#txt_justi{font-size: 30px;
	font-family: 'Kaushan Script', cursive;
	color: #fff;
	padding-left: 40px;
	padding-top: 87px;}



	#f1_container {
  position: relative;
  margin: 10px auto;
  width: 450px;
  height: 281px;
  z-index: 1;
}

#f1_container {
  perspective: 1000;
}
#f1_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}
#f1_container:hover #f1_card {
  transform: rotateY(180deg);
  box-shadow: -5px 5px 5px #aaa;
  transition:all 1s;
  -moz-transition:all 1s;
  -ms-transition:all 1s; 
  -o-transition:all 1s;
  -webkit-transition:all 1s;
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  color: ;
  text-align: center;
  background-color: #fff;
  border-radius: 50%;
}
